.item-page__video-wrapper:after {
 display: none;
}

.item-page__header-investments {
 .container-relative {
  position: relative;
 }

 background: linear-gradient(219.65deg, rgba(49, 192, 123, 0.43) 14.29%, #31C07B 74.04%);
 mix-blend-mode: normal;
}

.fade-in-left {
  opacity: 0;
  animation: 0.3s ease-in 1s 1 forwards fadeInLeft;
}

.item-page__header-logo {
  opacity: 0;
}

.item-page__header-logo_investments {
 position: absolute;
 left: 50px;
 top: -22px;
 z-index: 0;
}

.item-page__header-logo_investments img {
 opacity: 0.4;
}

.item-page__header-nav_investments a {
 max-width: 156px;
 text-align: inherit;
 margin-left: 51px;
}

.item-page__header-content {
  position: relative;
 z-index: 2;
 padding-top: 27px;
 margin-left: 96px;
}


@keyframes fadeInLeft {
  0% {
    transform: translateX(30%);
    opacity: 0
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 767px) {
 .item-page__header-content {
  margin-left: 0;
 }
 .item-page__header-content {
  margin-left: 0;
 }

 .item-page__header-nav_investments a {
  margin-left: 0;
  margin: auto;
 } 

 .item-page__header-logo_investments img {
  display: none;
 }
}

