.for-whom {
 max-width: 1400px;
 width: 100%;
}
.for-whom__title {
 margin-top: 92px;
}
.for-whom_line1 {
 display: flex;
 justify-content: space-between;
 margin-top: 118px;
 width: 100%;
}
.for-whom_line2 {
 width: 100%;
 display: flex;
 justify-content: space-between;
 margin-top: 127px; 
}

.for-whom_block {
 display: flex;
 max-width: 320px;
 width: 100%;
}
.for-whom__description {
 max-width: 900px;
 width: 100%;
 margin-left: 25px;
}
a.circle {
  position: relative;
  flex: 1 0 auto;
  display: block;
  width: 74px;
  height: 74px;
  
 
}

.circle-color {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 transform-origin: center;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 color: #ffffff;
 font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 line-height: 62px;
 font-size: 48px;
 box-sizing: border-box;
 transition: transform 0.3s linear;
}

a.circle:hover .circle-color {
  transform: scale(0.9);
}

.for-whom_line1 .for-whom_block:first-child .circle-color {
  background: linear-gradient(180deg, rgba(64, 61, 236, 0.29) 0%, #FF00F5 100%);
  opacity: 0.8;
  box-shadow: 0px 0px 44px #DADADA;
}

.for-whom_line1 .for-whom_block:nth-child(2) .circle-color {
  background: linear-gradient(180deg, rgba(195, 151, 100, 0.2) 0%, #FB07C5 100%);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.for-whom_line1 .for-whom_block:nth-child(3) .circle-color {
  background: linear-gradient(180deg, rgba(51, 194, 142, 0.2) 0%, #4C71F3 100%);
  mix-blend-mode: normal;
  opacity: 0.9;
}

.for-whom_line2 .for-whom_block:first-child .circle-color {
  background: linear-gradient(180deg, rgba(9, 174, 226, 0.28) 0%, #F66A04 100%);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.for-whom_line2 .for-whom_block:nth-child(2) .circle-color {
  background: linear-gradient(180deg, rgba(79, 113, 213, 0.17) 0%, #12CA8D 100%);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.for-whom_line2 .for-whom_block:nth-child(3) .circle-color {
  background: linear-gradient(180deg, rgba(76, 97, 244, 0.523862) 0%, #CA8012 100%);
  mix-blend-mode: normal;
  opacity: 0.8;
}





@media (max-width: 1024px) {
  .for-whom__description {
    margin-left: 17px;
    font-size: 13px;
    width: 66%;
  }
}
@media (max-width: 768px) {
  .for-whom_line1 {
    display: block;
    
    margin-top: 50px;
  }
  .for-whom_line2 {
    display: block;
    
    margin-top: 10px;
    
  }
  .for-whom_block {
    justify-content: flex-start;
    align-items: center;

    margin: auto;
    margin-top: 50px;
    max-width: 700px;
  }

  .for-whom__description {
    width: 100%;
  }

  a.circle {
    flex: 0 1 auto;
    margin-right: 30px;
  }

  .circle-color {
    width: 55px;
    height: 55px;
  }

  .circle-1 {
    width: 76px;
    height: 76px;
  }

  .circle-2 {
    width: 66px;
    height: 66px;
  }

  .for-whom__description {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 0;

  }

  h2.for-whom__title {
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  h2.for-whom__title {
    margin-top: 40px;

    font-size: 37px;
    text-align: center;
    line-height: 40px;
  }

  .for-whom_line1 {
    flex-flow: row wrap;
    
  }

  .for-whom_line2 {
    flex-flow: row wrap;
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .for-whom_block {
    margin-top: 30px;
  }
}

