.for-whom {
 max-width: 1400px;
 width: 100%;
}
.for-whom__title {
 margin-top: 92px;
}
.for-whom_line1 {
 display: flex;
 justify-content: space-between;
 margin-top: 118px;
 width: 100%;
}
.for-whom_line2 {
 width: 100%;
 display: flex;
 justify-content: space-between;
 margin-top: 127px; 
}

.for-whom_block {
 display: flex;
 max-width: 320px;
 width: 100%;
}
.for-whom__description {
 max-width: 900px;
 width: 100%;
 margin-left: 25px;
}
a.circle {
  position: relative;
  flex: 1 0 auto;

  display: block;
  width: 74px;
  height: 74px;
}

.circle-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 91px;
  height: 91px;

  border-radius: 50%;
  border: 1px solid #9598AE;
  box-sizing: border-box;

  transition: width 0.3s linear, height 0.3s linear;
}
.circle-2 {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);

 width: 83px;
 height: 83px;
 border-radius: 50%;
 border: 1px solid #9598AE;
 box-sizing: border-box;

 transition: width 0.3s linear, height 0.3s linear;
}
.circle-color {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 
 display: flex;
 justify-content: center;
 align-items: center;
 width: 74px;
 height: 74px;
 border-radius: 50%;
 background: #AE1926;
 box-sizing: border-box;

 transition: width 0.3s linear, height 0.3s linear;
}

a.circle:hover .circle-color {
  width: 68px;
  height: 68px;
}

a.circle:hover .circle-1 {
  width: 98px;
  height: 98px;
}

a.circle:hover .circle-2 {
  width: 86px;
  height: 86px;
}

@media (max-width: 1024px) {
  .for-whom__description {
    margin-left: 17px;
    font-size: 13px;
    width: 66%;
  }
}
@media (max-width: 767px) {
  .for-whom_line1 {
    display: block;
    
    margin-top: 50px;
  }
  .for-whom_line2 {
    display: block;
    
    margin-top: 10px;
    
  }
  .for-whom_block {
    margin: auto;
    margin-top: 50px;
    max-width: 700px;
  }
  .for-whom__description {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  h2.for-whom__title {
    font-size: 37px;
    text-align: center;
  }

  .for-whom_line1 {
    flex-flow: row wrap;
    
  }

  .for-whom_line2 {
    flex-flow: row wrap;
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .for-whom_block {
    margin-top: 30px;
  }
}

