
.partners-header {
 
 padding-top: 46px;
 padding-bottom: 86px;
}

h2.partners-header__title {
 width: 525px;
 color: #000000;
 font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 line-height: 62px;
 font-size: 48px;
 
}

.partners-header__btn {
 max-width: 342px;
 width: 100%;
 padding: 18px 63px;
 margin-top: 73px;
}
.partners-header__btn.btn {
	font-size: 22px;
}

.partners-content {
	padding-top: 40px;
  background: #D8DCF5;
}

.partners__wrapper {
 display: flex;
 margin-top: 100px;
 
}

.partners__item {
 display: block;
 padding-right: 70px;
}

.partners__item a {
 display: flex;
 flex-flow: row nowrap;
 align-items: center;
 justify-content: flex-start;
}


@media (max-width: 1284px) {
	.partners-content	{
		padding-top: 30px;
	}
 	.partners__item {
  		padding-right: 44px;
 }
}

@media (max-width: 1024px) {
 .partners__wrapper {
	flex-flow: row wrap;
	margin-top: 63px;
 }
  .partners__item {
  	padding-right: 37px;
  	width: 187px;
  	margin-top: 20px;
  }
}

@media (max-width: 991px) {
 h2.partners-header__title {
  width: 641px;
  font-size: 48px;
 }

}

@media (max-width: 768px) {
	.partners-header {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	h2.partners-header__title {
		max-width: 608px;
		width: 100%;
		font-size: 37px;
		line-height: 40px;
 }

 .partners-header__btn {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 48px;
 }
}

@media (max-width: 768px) {
	.partners__title {
		font-size: 37px;
		line-height: 40px;
	}
}

@media (max-width: 576px) {
	.partners__wrapper {
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}

	.partners__item {
		margin-left: 0;
		padding-right: 0;

		&:first-child {
			margin-top: 0;
		}
	}

	.partners__item a {
		justify-content: center;
	}

 	h2.partners-header__title {
		 font-size: 37px;
		 text-align: center;
 }
	.partners__title {
		text-align: center;
	}

	.partners__wrapper {
 		margin-top: 45px;
	}
 	.partners__item {
		margin-top: 30px;
	}
	 
	.partners-header__btn {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}