.how-work {
  background: #F7F8FB;
  padding-top: 107px;
  padding-bottom: 100px;
  margin-top: 132px;
}

.how-work__items {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 50px;
}

.how-work__item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(255, 1, 23, 0.3) 0%, #023FFF 100%);

  transform: scale3d(0, 0, 0);

  // transition: transform 0.3s ease-out, box-shadow 0.2s ease-in;
}

@for $i from 1 through 5 {
  .how-work__items.active .how-work__item-wrapper:nth-child(#{$i}) .how-work__item {
    transition: transform 0.3s ease-out #{$i * 0.3s}, box-shadow 0.2s ease-in 0s;
    transform: scale3d(1, 1, 1)
  }
}

.how-work__items .how-work__item-wrapper::after {
  opacity: 0;
  transition: opacity 0.8s ease-out; 
}

.how-work__items.active .how-work__item-wrapper::after {
  transition-delay: 2s;
  opacity: 1;
}

.how-work__list {
  display: flex;
  flex-flow: row wrap;
}

.how-work__item_title {
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  max-width: 191px;
  width: 100%;
  color: #ffffff;

  text-align: center;
}

.how-work__items.active .how-work__item-wrapper .how-work__item:hover {
  box-shadow: 0px 0px 44px rgba(76, 97, 244, 0.7);
}

.how-work__item-wrapper {
  position: relative;
}

.how-work__item-wrapper::after {
  content: '';
  position: absolute;
  background: black;
  width: 26px;
  height: 1px;
}

.how-work__item-wrapper:nth-child(1) {
  padding-top: 60px;
  margin-right: 14px;
  &::after {
    left: 245px;
    top: 241px;
    transform: rotate(32deg);
  }
}

.how-work__item-wrapper:nth-child(2) {
  padding-top: 179px;
  &::after {
    left: 236px;
    top: 231px;
    transform: rotate(-28deg);
  }
}

.how-work__item-wrapper:nth-child(3) {
  padding-top: 42px;
  margin-right: 24px;
  &::after {
    left: 247px;
    top: 211px;
    transform: rotate(20deg);
  }
}

.how-work__item-wrapper:nth-child(4) {
  padding-top: 120px;
  margin-right: 11px;
  &::after {
    left: 247px;
    top: 193px;
    transform: rotate(-29deg);
  }
}
.how-work__item-wrapper:nth-child(5) {
  &::after {
    display: none;
  }
}

@media (max-width: 1440px) {
  .how-work__item {
    width: 180px;
    height: 180px;
  }

  .how-work__item-wrapper:nth-child(1)::after {
    left: 175px;
    top: 207px;
  }

  .how-work__item-wrapper:nth-child(2)::after  {
    left: 173px;
    top: 207px;
    transform: rotate(-35deg);
  }

  .how-work__item-wrapper:nth-child(3)::after {
    left: 178px;
    top: 170px;
  }

  .how-work__item-wrapper:nth-child(4)::after {
    left: 175px;
    top: 153px;
  }

  .how-work__item_title {
    max-width: 80%;
    font-size: 21px;
    line-height: 27px;
  }
}

@media (max-width: 1024px) {
  .how-work__items {
    justify-content: center;
  }

  .how-work__items .how-work__item-wrapper {
    padding-top: 0;
    margin-right: 0;
    width: 33.33%;

    &::after {
      top: 50%;
      left: auto;
      right: -13px;
      transform: rotate(0);
    }
  }

  .how-work__item-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .how-work__items .how-work__item-wrapper:nth-child(3)::after {
    top: auto;
    right: auto;
    left: 6.3vw;
    bottom: 0;
    transform: rotate(-44deg);
  } 

  .how-work__items .how-work__item-wrapper:nth-child(1),
  .how-work__items .how-work__item-wrapper:nth-child(2),
  .how-work__items .how-work__item-wrapper:nth-child(3) {
    order: 1;
  }

  .how-work__items .how-work__item-wrapper:nth-child(4) {
    order: 3;
    &:after {
      left: -13px;
      right: auto;
    } 
  }

  .how-work__items .how-work__item-wrapper:nth-child(5) {
    order: 2;
  }
}

@media (max-width: 768px) {
  .how-work {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .how-work__title {
    font-size: 37px;
    line-height: 40px;
    text-align: center;
  }

  .how-work__items .how-work__item-wrapper {
    width: 100%;
    margin-bottom: 38px;

    &::after {
      top: auto;
      bottom: -19px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }


  .how-work__items .how-work__item-wrapper:nth-child(1),
  .how-work__items .how-work__item-wrapper:nth-child(2),
  .how-work__items .how-work__item-wrapper:nth-child(3),
  .how-work__items .how-work__item-wrapper:nth-child(4),
  .how-work__items .how-work__item-wrapper:nth-child(5) {
    order: 1;
  }

  .how-work__items .how-work__item-wrapper:nth-child(3)::after {
    top: auto;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }

  .how-work__items .how-work__item-wrapper:nth-child(4)::after {
    left: 50%;
  }

  .how-work__items .how-work__item-wrapper:last-child {
    margin-bottom: 0;
  }

  .how-work__item {
    width: 200px;
    height: 200px;
  }

  .how-work__item_title {
    text-align: center;
  }
}