.services {
  padding-top: 68px;
}

.services-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.services-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  flex: 0 1 25%;
  margin-bottom: 40px;
}

.services-item__card {
  position: relative;
  top: 0;

  max-width: 23.5%;
  width: 100%;
  min-height: 505px;
  padding: 22px 26px 30px 26px;

  background: image-url('card-bg.png') no-repeat center/cover;
  border-radius: 8px;

  opacity: 0;
  transform: translateY(20px);

  transition: top 0.3s linear, box-shadow 0.3s linear;
}

.services.active .services-item__card:nth-child(1):hover {
  top: -10px;
  box-shadow: 10px 12px 44px rgba(76, 97, 244, 0.7);
}

.services.active .services-item__card:nth-child(2):hover {
  top: -10px;
  box-shadow: 10px 12px 44px rgba(69, 183, 191, 0.7);
}

.services.active .services-item__card:nth-child(3):hover {
  top: -10px;
  box-shadow: 10px 12px 44px rgba(246, 139, 49, 0.7);
}

.services.active .services-item__card:nth-child(4):hover {
  top: -10px;
  box-shadow: 10px 12px 44px rgba(49, 192, 123, 1);
}

.services-item__card:after {
  content: '';
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 8px;

  background: linear-gradient(204.67deg, rgba(174, 25, 38, 0.58) 20.27%, rgba(2, 63, 255, 0.62) 80.26%);
  opacity: 0.9;
}

.services-item__card:nth-child(1):after {
  background: linear-gradient(256.16deg, rgba(2, 63, 255, 0.43) 14.29%, #4E6CCB 74.04%);
}

.services-item__card:nth-child(2):after {
  background: linear-gradient(257.92deg, rgba(90, 219, 226, 0.43) 14.29%, #45B7BF 74.04%);
}

.services-item__card:nth-child(3):after {
  background: linear-gradient(257.92deg, rgba(246, 139, 49, 0.43) 14.29%, #F68B31 74.04%);
}

.services-item__card:nth-child(4):after {
  background: linear-gradient(257.92deg, rgba(49, 192, 123, 0.43) 14.29%, #31C07B 74.04%);
}

.services-item__icon {
  position: relative;
  z-index: 21;
}

.services-item__icon-0 {
  background: image-url('icon-immig.svg') no-repeat left/contain;
}

.services-item__icon-1 {
  background: image-url('icon-business.svg') no-repeat left/contain;
}

.services-item__icon-2 {
  background: image-url('icon-study.svg') no-repeat left/contain;
}

.services-item__icon-3 {
  background: image-url('icon-invest.svg') no-repeat left/contain;
}

.services-item__icon {
  width: 122px;
  height: 94px;
}

.services-item__title {
  position: relative;
  z-index: 21;
  margin-top: 44px;
  margin-bottom: 10px;
}

.services-item__list {
  position: relative;
  z-index: 21;
}

.services-item__title a {
  font-family: $font-montserrat;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
}

.services-item__item {
  margin-bottom: 3px;
}

.services-item__item a {
  position: relative;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: bold;
  opacity: 1;

  transition: opacity 0.3s linear;

  &:hover {
    opacity: 0.8;
  }
}




.services.active {
  @for $i from 1 through 4 {
    .services-item__card:nth-child(#{$i}) {
      animation-delay: calc(#{$i} * 0.3s);
    }
  }
  .services-item__card {
    animation: fadein 0.3s forwards ease-in;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}