.main-header {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 600px;
  height: 100vh;
  padding-top: 84px;
  &::after {
    content: '';
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;


    background: linear-gradient(233.06deg, rgba(2, 63, 255, 0.61) 14.29%, #3A519A 74.04%);;
    mix-blend-mode: screen;
    opacity: 0.8;
  }
}

.main-header__placeholder {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-header__video {
  position: absolute;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}

.main-header__container {
  position: relative;
  z-index: 40;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.main-header__title {
  max-width: 660px;
  width: 100%;
  margin-bottom: 20px;

  font-family: $font-montserrat;
  font-weight: bold;
  line-height: 62px;
  font-size: 60px;

  color: #FFFFFF;
}

.main-header__sub-title {
  line-height: 28px;
  font-size: 16px;

  color: #FFFFFF;
}

.main-header__btn {
  margin-top: 55px;
  padding: 13px 54px;
  align-self: flex-start;
}