.about-company {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-company .container {
  display: flex;
  flex-flow: row nowrap;
}

.about-company__tite {
  margin: 0;
  margin-bottom: 20px;
}

.about-company__text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 7%;
  width: 50%;
}

.about-company__description {
  max-width: 900px;
  width: 100%;
}

.about-company__img {
  width: 50%;
  height: 491px;
  background: image-url('about-us.png') no-repeat center/cover;
}