.main-header {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 600px;
  height: 100vh;
  padding-top: 84px;

  background: image-url('top.png') no-repeat center/cover;

  &::after {
    content: '';
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background: rgba(66, 79, 243, 0.7);
    mix-blend-mode: screen;
    opacity: 0.8;
  }
}
.main-header__container {
  position: relative;
  z-index: 40;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.main-header__title {
  max-width: 660px;
  width: 100%;
  margin-bottom: 20px;

  font-family: $font-montserrat;
  font-weight: bold;
  line-height: 62px;
  font-size: 60px;

  color: #FFFFFF;
}

.main-header__sub-title {
  line-height: 28px;
  font-size: 16px;

  color: #FFFFFF;
}

.main-header__btn {
  margin-top: 55px;
  padding: 13px 54px;
  align-self: flex-start;
}