.features {
	position: relative;
	background-color: #F7F8FB;
	padding-bottom: 104px;
}
.features-wrap {
	display: flex;
	justify-content: flex-start;
	max-width: 1400px;
	width: 100%;
	padding-top: 80px;
}
.features-item {
	max-width: 240px;
	width: 100%;
	margin-left: 5%;

	&:first-child {
		margin-left: 0;
	} 
 }
.features-item h2 {
	font-size: 70px;
  }
.features-item p {
	font-size: 14px;
	// color: #023FFF;
  }
h2.guarantee-title {
	font-size: 48px;
	margin-top: 62px;
	margin-bottom: 60px;
}

@media (max-width: 1024px) {
	.features-item h2 {
		font-size: 58px;
		line-height: 40px;
	}

	.features-item p {
		max-width: 225px;
		width: 100%;
	}
}
@media (max-width: 991px) {
	.features-item h2 {
		font-size: 48px;
	}

	.features-item p {
		width: 88%;
	}
}

@media (max-width: 768px) {
	.features {
		padding-bottom: 40px;
	}

	.features-wrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.features-item {
		max-width: 280px;
		width: 100%;
		margin-bottom: 20px;
		margin-left: 0;
	}

	.features-item:last-child {
		margin-bottom: 0;
	}

	.features-item p {
		width: 100%;
		max-width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}

	h2.guarantee-title {
		margin-bottom: 10px;
	}
}

@media (max-width: 602px) {
	.features-item {
		text-align: center;
	}
}

@media (max-width: 576px) {
	.features-wrap {
		flex-flow: row wrap;
	}
}

