.features {
	background-color: #F7F8FB;
	padding-bottom: 104px;
}
.features-wrap {
	display: flex;
	justify-content: space-between;
	max-width: 1400px;
	width: 100%;
	padding-top: 80px;
}
.features-item {
	max-width: 240px;
	width: 100%;
 }
.features-item h2 {
	font-size: 70px;
  }
.features-item p {
	font-size: 14px;
  }
h2.guarantee-title {
	font-size: 48px;
	margin-top: 62px;
}
  
