$primary-color: #AE1926;
$bgc-color: #e6e6e6;
$link-color: #FA1E4A;

$screen-xsmall:  480px;
$screen-small:   640px;
$screen-medium:  960px;
$screen-large:   1200px;
$screen-xlarge:  1440px;
$screen-xxlarge:  1600px;

$font-roboto: 'Roboto', 'OpenSans', 'Trebuchet MS', 'Verdana';
$font-montserrat: 'Montserrat', 'Roboto', 'OpenSans', 'Trebuchet MS', 'Verdana';
