.item-page__links .container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  padding-top: 93px;
}

.item-page__links a {
  display: block;
  flex: 1 0 auto;
  padding: 10px;

  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
.item-page__links a:hover {
  background: rgba(246, 246, 246, 0.2);
}

