.item-page {
  padding-top: 68px;
}

.item-page .page__content {
  padding-bottom: 30px;
}

.item-page__sidebar {
  width: 27%;
  font-size: 14px;
}

.item-page__item-title {
  margin-bottom: 20px;

  font-size: 48px;
  line-height: 62px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: montserrat;
}

.item-page .news__content {
  padding-left: 15px;
}