- @prices = [{title: 'Иммиграция', price: [{name: 'Первый ВНЖ:', description: 'предпринимательская деятельность', package: '', cost: '1699 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'ЛАЙТ Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'МЕДИУМ Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'ВИП Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'деятельность', package: 'ВИП Пакет', cost: '19 €'}]},
 {title: 'Бизнес', price: [{name: 'Первый ВНЖ:', description: 'предпринимательская деятельность', package: '', cost: '1699 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'ЛАЙТ Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'МЕДИУМ Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'ВИП Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'деятельность', package: 'ВИП Пакет', cost: '19 €'}]},
 {title: 'Образование', price: [{name: 'Первый ВНЖ:', description: 'предпринимательская деятельность', package: '', cost: '1699 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'ЛАЙТ Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'МЕДИУМ Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'ВИП Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'деятельность', package: 'ВИП Пакет', cost: '19 €'}]},
 {title: 'Инвестиции и недвижимость', price: [{name: 'Первый ВНЖ:', description: 'предпринимательская деятельность', package: '', cost: '1699 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'ЛАЙТ Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'МЕДИУМ Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'ВИП Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'деятельность', package: 'ВИП Пакет', cost: '19 €'}]},
 {title: 'Другие услуги', price: [{name: 'AAAAAA:', description: 'предпринимательская деятельность', package: '', cost: '1699 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'ЛАЙТ Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'МЕДИУМ Пакет', cost: '249 €'},
  {name: 'Продление ВНЖ:', description: 'предпринимательская деятельность', package: 'ВИП Пакет', cost: '249 €'},
  {name: 'Хеллоу ВНЖ:', description: 'деятельность', package: 'ВИП Пакет', cost: '11 €'}]}]

.price-page
  = render 'partials/header'
  .page__main-wrapper
    .page__content.page__content-no-sidebar
      .container
        h1.page__title
          | Прайс
        .price-page__content
          - @prices.each_with_index do |element, index|
            div(class="price-page__item price-page__item-#{index}")
              .price-page__item-title.drop-down__title
                = image_tag "down-button-black.svg"
                = element[:title]
              .price-page__item-content
                = render 'partials/item-price', locals: {price: element[:price]}
  = render 'partials/footer'