.block-page__wrapper {
  max-width: 721px;
  width: 100%;
  background: #F9F9F9;
  display: flex;
  padding: 34px 43px 36px 37px; 
  margin-top: 19px;
}

.blog-page__autor {
  max-width: 133px;
  width: 100%;
  // padding-right: 67px;
}

.block-page__autor-name {
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
}

.block-page__autor-profession {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.block-page__autor-date {
  font-size: 14px;
  line-height: 45px;
}
.blog-page__autor-text {
  max-width: 441px; 
  margin-left: 61px;
}

.blog-page__title {
  font-size: 32px;
}

.blog-page__date {
  font-size: 16px;
  color: #a1a1a1;
  font-weight: normal;
}

// .blog-page__autor {
//   margin-top: 40px;
//   margin-bottom: 10px;
//   font-weight: bold;
// }


.blog-page__form {
  position: relative;
  max-width: 721px;
  width: 100%;
  margin-top: 40px;
}
#name {
  max-width: 340px;
  width: 100%;
  background: #EFF2FF;
  border: 1px solid #FFFFFF;
  padding: 14px;
}
#email {
  max-width: 358px;
  width: 100%;
  background: #EFF2FF;
  border: 1px solid #FFFFFF;
  padding: 14px;
}
.blog-page__form-footnote {
  position: absolute;
  left: 363px;
  top: 55px;
  font-size: 10px;
  color: #333333;
  opacity: 0.4;
}

#comment {
  width: 100%;
  min-height: 123px;
  background: #EFF2FF;
  border: 1px solid #FFFFFF;
  padding: 12px;
  margin-top: 41px;
  margin-bottom: 41px;
}

.blog-wrapper {
  display: flex;
}
.blog-page__form-input-name {
  width: 100%;
}
.blog-page__form-input-email {

  width: 100%;
}

.blog-page__form-title {
  margin-bottom: 10px;

  font-weight: bold;
}

.news-page__img-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.blog-page__form-title-comment {
  margin-bottom: 20px;
}

.blog-page__form-title-add {
  margin-bottom: 15px;
}

.blog-page__form-input-text {
  margin-bottom: 5px;
  max-width: 352px;
  background: #EFF2FF;
}

.blog-page__form-input-wrapper {
  margin-bottom: 15px;
}

.blog-page__form-input-wrapper input,
.blog-page__form-input-wrapper textarea {
  width: 100%;

  border: 1px solid #bbbbbb;
}

.blog-page__form-input-wrapper textarea {
  height: 200px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
  margin-top: 41px;
}

.checkbox+label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
}
label {
  color: #45445E;
  opacity: 0.4;
  font-size: 15px;
  max-width: 404px;
}

.checkbox+label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 26px;
  height: 26px;
  background: #EFF2FF;
  transition: .6s;
}



.checkbox:checked+label:before {
  background: #AE1926;
}


.btn__dispatch {
  width: 342px;
  text-align: center;
  margin-top: 52px;
}

@media (max-width: 1284px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 991px) {
  label {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .blog-page__form-title-add {
    margin-top: 30px;
  }
  .blog-page__form-footnote {
    left: 40vw;
    font-size: 8px;

  }
}

@media (max-width: 576px) {
  .blog-wrapper {
    display: block;
  }
  #name {
    max-width: 427px;
  }
  #email {
    max-width: 427px;
  }
  .blog-page__form-footnote {
   font-size: 9px;
   left: 0vw;
   top: 108px;
  }
  label {
    font-size: 11px;
  }
  .btn__dispatch {
    width: 250px;
  }
}

@media (max-width: 424px) {
  .blog-page__form-footnote {
    left: 0vw;
    top: 110px;
    line-height: 9px;
    font-size: 6px;
  }
  .blog-wrapper {
    font-size: 11px;
  }
  #comment {
    font-size: 11px;
  }
  .blog-page__form-title-add {
    text-align: center;
  }
  label {
    font-size: 7px;
    line-height: 10px; 
  }
  .btn__dispatch {
    width: 162px;
    font-size: 19px;
  }
}
