.block-page__wrapper {
  max-width: 721px;
  width: 100%;
  background: #F9F9F9;
  display: flex;
  padding: 34px 43px 36px 37px; 
  margin-top: 19px;
}

.blog-page__autor {
  max-width: 133px;
  width: 100%;
}

.block-page__autor-name {
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
}

.block-page__autor-profession {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.block-page__autor-date {
  font-size: 14px;
  line-height: 45px;
}
.blog-page__autor-text {
  max-width: 441px; 
  margin-left: 61px;
}

.blog-page_form {
  margin-top: 56px;
}

.blog-page_form label.error {
  top: -16px;
}

.blog-page__form-textarea-wrapper{
  position: relative;
}

.blog-page__form-textarea-wrapper label.error {
  top: 25px;
}

.blog-page__form {
  position: relative;
  max-width: 721px;
  width: 100%;
  margin-top: 10px;
}
#name {
  max-width: 340px;
  width: 100%;
  background: #EFF2FF;
  border: 1px solid #FFFFFF;
  padding: 14px;
}
#email {
  max-width: 358px;
  width: 100%;
  background: #EFF2FF;
  border: 1px solid #FFFFFF;
  padding: 14px;
}
.blog-page__form-footnote {
  position: absolute;
  left: 0;
  top: 51px;
  font-size: 10px;
  color: #333333;
  opacity: 0.4;
}

#comment {
  width: 100%;
  min-height: 123px;
  background: #EFF2FF;
  border: 1px solid #FFFFFF;
  padding: 12px;
  margin-top: 41px;
  margin-bottom: 41px;
}

.blog-wrapper {
  display: flex;
}
.blog-page__form-input-name {
  width: 100%;
}
.blog-page__form-input-email {
  position: relative;
  width: 100%;
}

.blog-page__form-title {
  margin-bottom: 10px;

  font-weight: bold;
}

.news-page__img-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.blog-page__form-title-comment {
  margin-bottom: 20px;
  margin-top: 45px;
}

.blog-page__form-input-text {
  margin-bottom: 5px;
  max-width: 352px;
  background: #EFF2FF;
}

.blog-page__form-input-wrapper {
  margin-bottom: 15px;
}

.blog-page__form-input-wrapper input,
.blog-page__form-input-wrapper textarea {
  width: 100%;

  border: 1px solid #bbbbbb;
}

.blog-page__form-input-wrapper textarea {
  height: 200px;
}

.blog-page_form .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
  margin-top: 41px;
}

.blog-page_form .checkbox ~ label {
  position: relative;
  display: block;
  padding: 0 0 0 40px;
  max-width: 444px;
  width: 100%;
  cursor: pointer;
  font-size: 10px;
  line-height: 15px;

  color: rgba(69, 68, 94, 0.5);
}

.blog-page_form .checkbox~label:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 26px;
  height: 26px;
  background: #EFF2FF;
  transition: .6s;
}

.blog-page_form .checkbox~label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
  
  width: 20px;
  height: 20px;

  opacity: 0;
  transition: opacity .3s linear;

  background: image-url('tick.svg') no-repeat center/contain;
}

.blog-page_form .checkbox:checked~label:after {
  opacity: 1;
}

.blog-page__form-checkbox-wrapper {
  position: relative;
}

.blog-page__form-checkbox-wrapper label.error {
  position: absolute;
  padding-left: 0;
  color: #FA1E4A;
}

.blog-page_form .checkbox ~ label.error:before {
  display: none;
}

.blog-page_form .checkbox ~ label.error:after {
  display: none;
}

.btn__dispatch {
  width: 342px;
  text-align: center;
  margin-top: 52px;
}

@media (max-width: 991px) {
  label {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .blog-page__form-title-add {
    margin-top: 30px;
  }
  .blog-page__form-footnote {
    left: 0;
    font-size: 8px;
  }

  .blog-page_form .btn__dispatch {
    margin-top: 40px;
  }

  // .blog-page_form label.error {
  //   top: -9px;
  // }

  // .blog-page__form-textarea-wrapper label.error {
  //   top: 21px;
  // }

  // .blog-page__form-checkbox-wrapper label.error {
  //   top: -13px;
  // }
}

@media (max-width: 576px) {
  .blog-wrapper {
    display: block;
  }

  .blog-page__form-input-name {
    margin-bottom: 20px;
  }

  #name {
    max-width: 100%;
  }
  #email {
    max-width: 100%;
  }

  #comment {
    margin-top: 30px;
  }

  label {
    font-size: 11px;
  }
  .btn__dispatch {
    width: 250px;
  }

  .blog-page__form-textarea-wrapper label.error {
    top: 15px;
  }
}

@media (max-width: 424px) {
  .blog-page__form-title-add {
    text-align: center;
  }

  .btn__dispatch {
    width: 162px;
    font-size: 19px;
  }
}
