.item-page__video-wrapper:after {
 display: none;
}

.item-page__header-business {
 .container-relative {
  position: relative;
 }

 background: linear-gradient(220.14deg, rgba(90, 219, 226, 0.43) -8.27%, #4EB5BB 67.02%);
 mix-blend-mode: normal;
}

.item-page__header-logo_business {
 position: absolute;
 left: 20px;
 top: -30px;
 z-index: 0;
}

.item-page__header-logo_business img {
 opacity: 1;
}

.item-page__header-content {
 padding-top: 27px;
 margin-left: 131px;
}


@media (max-width: 767px) {
 .item-page__header-content {
  margin-left: 0;
 }
 .item-page__header-logo_business img {
  display: none;
 }
}