.item-page__video-wrapper:after {
 display: none;
}

.item-page__header-education {
 .container-relative {
  position: relative;
 }

 background: linear-gradient(218.68deg, rgba(246, 139, 49, 0.43) 14.29%, #F68B31 74.04%);
 mix-blend-mode: normal;
}

.item-page__header-logo_education {
 position: absolute;
 left: 0px;
 top: -39px;
 z-index: 0;
}

.item-page__header-logo_education img {
 opacity: 0.2;
 width: 550px;
}

@media (max-width: 991px) {
 .item-page__header-nav_education a {
  margin-left: 18px;
 }
}

@media (max-width: 767px) {

 .item-page__header-logo_education img {
  display: none;
 }
}

