.item-page__header {
 /* Rectangle 2.3 */



 background: linear-gradient(222.02deg, rgba(2, 63, 255, 0.43) 14.29%, #4E6CCB 74.04%);
 mix-blend-mode: normal;

}
.item-page__header-logo {
 position: absolute;
 left: 20px;
 top: -0;
 z-index: 0;
}
.item-page__header-logo img {
 opacity: 0.2;

}
.item-page__header-content {
 position: relative;
 padding-top: 27px;
 margin-left: 152px;
.item-page__header-content .item-page__links .container {
 margin-left: 0;
}

}
h1.page__title {
 font-style: Bold; 
 font-size: 60px;
 color: #ffffff;
}
p.page-description {
 max-width: 657px;
 width: 100%;
 font-size: 16px;
 color: #ffffff;
 }
.block-detail {
 margin-top: 63px;
 margin-left: 77px;
}
h2.block-detail_title {
 font-family: Montserrat; 
 font-style: Bold; 
 font-size: 48px;
}
p.block-detail_description {
 margin-top: 67px;
 font-style: Regular; 
 font-size: 16px; 
 max-width: 779px;
 width: 100%;
}

.item-page__video-wrapper {
 max-width: 793px;
 margin-left: 32px;
 margin-top: 20px;
}

.any-questions {

 padding-top: 46px;
 padding-bottom: 86px;
}

h2.any-questions__title {
 width: 789px;
 color: #000000;
 font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 line-height: 62px;
 font-size: 60px;

}

.any-questions__btn {
 max-width: 342px;
 width: 100%;
 padding: 18px 63px;
 margin-top: 73px;
}

.more-articles-wrapper {
 background: #F7F8FB;
}
h2.more-articles-title {
 padding-top: 60px;
}
.more-articles-items {
 display: flex;
 justify-content: flex-start;
 margin-top: 28px;
}
.more-articles-item:nth-child(2){
 margin-left: 160px;
}
.more-articles-item:nth-child(3) {
 margin-left: 160px;
}
.more-articles-item a {
 display: block;
 font-family: SF Pro Text;
 line-height: 30px;
 font-size: 14px;
 color: #8A9FC2;

}
