.item-page__video-wrapper {
 position: relative;
}
.item-page__video-wrapper:after {
 content: '';
 position: absolute;
 top: 510px;
 left: 0;
 width: 88px;
 height: 0px;
 background: #000000;
 border: 7px solid #000000;
}

.prices {
 margin-top: 45px;
}

.prices-cards__wrapper {
 display: flex;
 justify-content: flex-start;
}
.prices-card {
 display: flex;
 justify-content: flex-start;
 flex-flow: column wrap;
 margin-right: 30px;
 position: relative;
 top: 0;
 max-width: 250px;
 width: 100%;
 min-height: 363px;
 padding: 22px 26px 46px 26px;
 background: image-url('card-bg.png') no-repeat center/cover;
 border-radius: 8px;
 color: #ffffff;
 // opacity: 0;
 transform: translateY(20px);
 transition: top 0.3s linear,
 box-shadow 0.3s linear;
}
.prices-card:nth-child(1):hover {
 top: -10px;
 box-shadow: 10px 12px 44px rgba(76, 97, 244, 0.7);
}
.prices-card:nth-child(2):hover {
 top: -10px;
 box-shadow: 10px 12px 44px rgba(76, 97, 244, 0.7);
 
 
}
.prices-card:nth-child(3):hover {
 top: -10px;
 box-shadow: 10px 12px 44px rgba(69, 183, 191, 0.7);
 
}
.prices-card:nth-child(4):hover {
 top: -10px;
 box-shadow: 10px 12px 44px rgba(246, 139, 49, 0.7);
 
}

.prices-card:after {
 content: '';
 position: absolute;
 z-index: -1;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 8px;
 background: linear-gradient(204.67deg, rgba(174, 25, 38, 0.58) 20.27%, rgba(2, 63, 255, 0.62) 80.26%);
 opacity: 0.9;
}

.prices-card:nth-child(1):after {
 background: linear-gradient(180deg, rgba(64, 61, 236, 0.29) 0%, #DA1CBC 100%);
}

.prices-card:nth-child(2):after {
 background: linear-gradient(180deg, rgba(203, 78, 123, 0.2) 0%, #CB4E7B 100%);
}

.prices-card:nth-child(3):after {
 background: linear-gradient(180deg, rgba(90, 219, 226, 0.17) 0%, #5ADBE2 100%);
}

.prices-card:nth-child(4):after {
 background: linear-gradient(180deg, rgba(9, 174, 226, 0.28) 0%, #F66A04 100%);
}


h3.prices-card_title {
 max-width: 124px;
 width: 100%;
 font-family: Montserrat;
 font-weight: bold;
 line-height: 40px;
 font-size: 30px;
}
p.prices-card_subtitle {
 max-width: 122px;
 line-height: 24px;
 font-size: 14px;
}
span.price-total {
 margin-top: auto;
 font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 line-height: 40px;
 font-size: 30px;
 
}

.prices-allprices {
 display: flex;
 max-width: 302px;
 justify-content: flex-start;
 margin-top: 39px;
}
.prices-down {
 width: 15px;
 margin-left: 58px;
 margin-top: 4px;
}

.business__contacts-wrapper {
 display: flex;
 justify-content: flex-start;
}

.contacts-item__name {
 font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 line-height: 62px;
 font-size: 24px;
}
.customize {
 line-height: 35px;
 font-size: 14px;
 color: #000000;
}

.business__contacts-wrapper {
 margin-top: 30px;
 padding-bottom: 38px;
}
.business__contacts-item:nth-child(2) {
 margin-left: 250px;
}

.contacts-item__post {
 margin-top: -26px;
}

.contacts-item__skype {
 margin-top: 15px;
}

.prices-wrapper {
 display: flex;
 margin-top: 110px;
}
.prices-block {
 max-width: 500px;
 width: 100%;
}
.prices-block:nth-child(2) {
 margin-left: 80px;
}
.prices-item {
 display: flex;
 border-bottom: 1px solid #000000;
 margin-top: 20px;
}

.prices-item:nth-child(3) {
 border: none;
}

p.prices-item__description {
 max-width: 281px;
 line-height: 24px;
 font-size: 14px;
}

.prices-item__right {
 margin-left: 93px;
}

@media (max-width: 1284px) {
 
}
@media (max-width: 1024px) {
 .prices {
  padding-left: 0;
 }

 h3.prices-card_title {
  line-height: 33px;
  font-size: 23px;
 }
}

@media (max-width: 991px) {
 .prices-cards__wrapper {
  flex-flow: row wrap;
 }
 .prices-card {
  margin: auto;
  margin-top: 30px;
 }
 .business__contacts-item:nth-child(2) {
  margin-left: 200px;
 }
}

@media (max-width: 767px) {
 .item-page__video-wrapper:after {
  display: none;
 }
 .prices-wrapper {
  flex-flow: row wrap;
 }
 .prices-block:nth-child(2) {
  margin-left: 0;
 }
 .prices-wrapper {
  margin: auto;
 }
 .business__contacts-item:nth-child(2) {
  margin-left: 35px;
 }
}

@media (max-width: 576px) {
 .prices {
  margin-top: 0;
 }
 h2.prices-title {
  text-align: center;
 }
 .business__contacts-wrapper {
  flex-flow: row wrap;
 }
 .business__contacts-item:nth-child(2) {
  margin-left: auto;
  margin-top: 20px;
 }
 .immigration-business__contacts-title {
  margin: auto;
 }
 .business__contacts-item {
  text-align: center;
  margin: auto;
  
 }
 .immigration-business__contacts-title {
  text-align: center;
 }
}

@media (max-width: 424px) {

}