.footer {
  padding-bottom: 40px;

  background: #D8DCF5;;
  font-size: 14px;
  font-family: $font-montserrat;
  font-weight: bold;
}

.footer a {
  color: #000000
}

.footer a:hover {
  text-decoration: underline;
}

.footer .container {
  display: flex;
  flex-flow: row wrap;

  padding-top: 50px;
}

.footer__item-container {
  flex: 0 1 50%;
  margin-bottom: 40px;
}

.footer__dispatch,
.footer__pages {
  padding-right: 7%;
}

.footer__contacts {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 7%;
}

.footer__dispatch-title {
  margin-bottom: 40px;
  max-width: 370px;

  text-transform: uppercase;
  font-weight: bold;
  font-weight: bold;
  line-height: 52px;
  font-size: 44px;
  color: #333333;
}

.footer__dispatch-email {
  max-width: 365px;
  width: 100%;
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;

  font-weight: bold;
  line-height: normal;
  font-size: 22px;
  color: #45445E;

  border: none;
  border-bottom: 1px solid rgba(69, 68, 94, 0.2);
  background: none;
}

.footer__dispatch-checkbox-wrapper {
  position: relative;

  display: block;
  padding-left: 41px;
  margin-bottom: 20px;

  font-size: 14px;
  cursor: pointer;
}

.footer__dispatch-checkbox-wrapper span {
  display: inline-block;
  vertical-align: top;

  line-height: 24px;
  font-size: 14px;
}

.footer__custom-checkbox-text {
  font-family: $font-roboto;
  font-weight: normal;
  max-width: 365px;
  width: 100%;
}

.footer__custom-checkbox {
  position: absolute;
  top: 4px;
  left: 0;

  display: block;
  width: 26px;
  height: 26px;
  border: 1px solid #000000;

  &::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 11px;
    transform: rotate(-45deg);

    display: block;
    width: 17px;
    height: 2px;
    background: #000000;
  }
  &::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 13px;
    transform: rotate(45deg);

    display: block;
    width: 9px;
    height: 2px;
    background: #000000;
  }
}

.footer__dispatch-checkbox-wrapper input {
  display: none;
}

.footer__dispatch-checkbox-wrapper input + .footer__custom-checkbox::after,
.footer__dispatch-checkbox-wrapper input + .footer__custom-checkbox::before {
  opacity: 0;
}

.footer__dispatch-checkbox-wrapper input:checked + .footer__custom-checkbox::after,
.footer__dispatch-checkbox-wrapper input:checked + .footer__custom-checkbox::before {
  opacity: 1;
}

.footer__pages-title, {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footer__contacts-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin-bottom: 22px;
}

.footer__contacts-socials {
  margin-top: 40px;
}

.footer__contacts-item-title {
  min-width: 135px;
  margin-right: 20px;

  color: #45445E;
  opacity: 0.4;
}

.footer .socials-item a {
  width: 45px;
  height: 37px;
}

.footer .footer__contacts-item-description {
  color: #4C61F4;
}

.footer__pages {
  display: flex;
  flex-flow: row nowrap;
  margin-top: auto;

  font-family: $font-roboto;
  font-weight: normal;
}

.footer__pages-item {
  margin-right: 25px;
}

.footer__pages-item a {
  color: #4C61F4;
}