.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;

  border-bottom: 1px solid #dad7d7 ;
  background: #ffffff;
}

.header .container {
  padding-left: 14px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.header a {
  color: #333333;
}

.logo {
  width: 295px;
  height: 43px;

  background: image-url('slovakiaInvest-logo.png') no-repeat center/contain;

  text-align: center;
  font-size: 26px; 
}

.header .submenu {
  position: absolute;
  display: none;

  text-transform: none;
}

.header__nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  max-width: 700px;
  width: 100%;
  margin-left: 3%;
}

.header__nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
}

.header__nav .submenu {
  top: 36px;
  left: 0;
  z-index: 10;
}

.header__nav-item {
  position: relative;

}

.header__nav-item:last-child a {
  padding-right: 9px;
}

.header__nav-item a {
  display: block;
  width: 100%;
  white-space: nowrap;

  &:hover {
    font-weight: bold;
  }
}

.header__nav-item span {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);

  display: block;
  width: 10px;
  height: 10px;
}

.header__nav-item span img {
  position: absolute;
  top: 0;
  left: 0;
}

.header__nav-item:nth-child(1) .submenu {
  display: block;
}

.header__nav-item:hover .submenu {
  display: block;
}

.header__nav .submenu {
  top: 36px;
  left: 0;
  z-index: 10;

  background: #ffffff;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -100vw;
    width: 200vw;
    height: 100%;
    background: #ffffff;
  }
}

.submenu li {
  position: relative;
  display: block;
  z-index: 3;
}

.submenu a {
  display: block;
  padding: 10px 15px;
}

.language {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: auto;
  margin-right: 1%;
}

.language__title {
  padding-right: 25px;
}

.language__title-img {
  display: block;
  width: 25px;
  height: 25px;
  background: image-url('russian.svg') no-repeat center;

  border-radius: 50%;
}

.language__item {
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
}

.language__item-img {
  display: block;
  width: 25px;
  height: 25px;
  padding-right: 25px;

  border-radius: 50%;
  background: image-url('russian.svg') no-repeat center;
}

.language__title-bottom-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 17px;
  height: 17px;
  background: image-url('icon-arrow-bottom.svg') no-repeat center;
}

.language .submenu {
  display: none;
  padding-top: 7px;
  padding-right: 25px;
  top: 100%;
  left: 0;
}

.language:hover .submenu {
  display: block;
}

.burger {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;

  width: 44px;
  height: 31px;
  margin-left: 40px;

  cursor: pointer;

  .burger-line:nth-child(1) {
    transition: transform 0.3s ease-out
  }
  .burger-line:nth-child(3) {
    transition: transform 0.3s ease-out
  }
}

.burger-line {
  width: 44px;
  height: 4px;
  background: #4C61F4;
}

.burger.active {
  .burger-line:nth-child(2) {
    display: none;
  }

  .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(9px, 10px);
  }

  .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -10px);
  }
}