.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 16px;
  color: #ffffff;

  border-bottom: 1px solid #dad7d7 ;
  background: #ffffff;
}

.header .container {
  padding-left: 14px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header a {
  color: #333333;
}

.logo {
  position: relative;
  z-index: 2;

  width: 295px;
  height: 43px;

  background: image-url('slovakiaInvest-logo.png') no-repeat center/contain;

  text-align: center;
  font-size: 26px; 
}

.header__nav {
  position: relative;
  z-index: 1;

  display: flex;
  flex-flow: row wrap;
  align-items: center;

  max-width: 700px;
  width: 100%;
  margin-left: 3%;
}

.header__nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
}

.header__nav .submenu {
  top: 36px;
  left: 0;
  z-index: 10;
}

.header__nav-item {
  position: relative;
}

.header__nav-item:last-child a {
  padding-right: 9px;
}

.header__nav-item a {
  display: block;
  width: 100%;
  white-space: nowrap;

  &:hover {
    font-weight: bold;
  }
}

.header__nav-item span {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);

  display: block;
  width: 10px;
  height: 10px;
}

.header__nav-item span img {
  position: absolute;
  top: 0;
  left: 0;
}

.submenu-wrapper {
  position: absolute;
  text-transform: none;
  top: 100%;
  left: 0;
  z-index: 10;
  width: auto;

  transition: all 0.3s ease-out;
  height: 0;
}

.header__nav-item:hover .submenu-wrapper {
  transition: all 0.3s ease-in;
}

.header__nav-item .submenu {
  padding-top: 35px;
  padding-bottom: 25px;
  pointer-events: none;
}

.header__nav-item .submenu a {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.header__nav-item:hover .submenu a {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.4s; 
}


.submenu-background {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: -100vw;
  width: 200vw;
  height: 0;

  background: #ffffff;

  transition: all 0.4s linear;
}

.submenu li {
  position: relative;
  display: block;
  z-index: 3;

  width: 100%;
}

.submenu a {
  display: block;
  padding: 10px 0;
}

.language {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 1%;
}

.language__title {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.language-arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  
  display: block;
  width: 78%;
  height: 100%;

  background: #ffffff;

  transition: width 0.4s ease-in-out;
}

.language-arrow.active {
  width: 7%
}

.language-arrow__img {
  position: absolute;
  right: 5px;
  top: 13px;

  width: 18px;
  height: 11px;
  background: image-url('icon-arrow-bottom.svg') no-repeat center/contain;

  transform: rotate(90deg);
  cursor: pointer;
  transition: transform 0.3s linear;
}

.language-arrow.active .language-arrow__img {
  transform: rotate(270deg)
}

.language__title-img {
  display: block;
  width: 25px;
  height: 25px;
  background: image-url('russian.svg') no-repeat center;
  border-radius: 50%;
}

.language__item {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.language__item-img {
  position: relative;

  display: block;
  width: 25px;
  height: 25px;
  padding-right: 25px;

  border-radius: 50%;
  border: 1px solid #CBD6E9;
}

.russian .language__item-img {
  background: image-url('lang-russian.svg') no-repeat center/cover;
}

.ukrainian .language__item-img {
  background: image-url('lang-ukrainian.svg') no-repeat center/cover;
}

.english .language__item-img {
  background: image-url('lang-english.svg') no-repeat center/cover;
}

.slovak .language__item-img {
  background: image-url('lang-slovak.svg') no-repeat center/cover;
}

.burger {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;

  width: 44px;
  height: 31px;
  margin-left: 40px;

  cursor: pointer;

  .burger-line:nth-child(1) {
    transition: transform 0.3s ease-out
  }
  .burger-line:nth-child(3) {
    transition: transform 0.3s ease-out
  }
}

.burger-line {
  width: 44px;
  height: 4px;
  background: #4C61F4;
}

.burger.active {
  .burger-line:nth-child(2) {
    display: none;
  }

  .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(9px, 10px);
  }

  .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -10px);
  }
}

@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }

  .burger {
    display: flex;
  }
} 