h1.page__title.news {
	color: #000000;
 	text-align: left;
	max-width: 866px;
	width: 100%;
	font-size: 60px;
	padding-top: 45px;
}

.news-page__nav {
	display: flex;
}
.cols {
	padding-left: 69px;

	&:first-child {
		padding-left: 0;
	}
}

.cols a {
	display: block;
	color: #333333;
	width: 162px;
}

.news-page .news__item {
	margin-bottom: 60px;
}

.search-wrap {
	margin-top: 77px;
	display: flex;
	flex-flow: column nowrap;
}

.search-form {
	max-height: 0;
	overflow: hidden;

	transition: max-height 0.3s linear;
}

.open-search .search-form { 
	max-height: 200px;
}	

.search-top {
	display: flex;
	flex-flow: row nowrap;
}

.search-img {
	margin-top: 14px;
	margin-left: 76px;
}

.search-form form {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;

	margin-top: 20px;
}

.search-form input {
	max-width: 352px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 31px;

	border: 1px solid #B8C5FF;
	border-radius: 2px;

	font-size: 14px;
}

.search-btn {
	max-width: 233px;
	width: 100%;
	padding: 10px 10px 10px 10px;

	font-size: 20px;
}

.news__content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-left: -15px;
	margin-right: -15px;
}

.news__item {
	max-width: 336px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-width: 1024px) {
	.news__content {
		flex-flow: row wrap;
	}
}
@media (max-width: 991px) {
	h1.page__title.news {
		font-size: 43px;
	}

	.news__content {
		flex-flow: row wrap;
		}
}

@media (max-width: 768px) {
	.cols {
		padding-left: 0;
		margin: auto;
		text-align: center;
	}
	h1.page__title.news {
		font-size: 38px;
	}
	.news__item {
		max-width: 1058px;
	}
	.news__item-text-description {
		max-width: 500px;
	}
	.news__item-text {
		max-width: 500px;
		margin: auto;
		padding: 5px;
	}
	.news__item-text-title {
		font-size: 13px;
	}

	.search-form input {
		max-width: 100%;
	}

	.search-btn {
		margin: 25px auto 0 auto;
	}
}

@media (max-width: 576px) {
	.news-page__nav {
		flex-direction: column;
	}
	h1.page__title.news {
		font-size: 20px;
		padding-left: 16px;
	}
	.search-img {
		margin-left: 20px;
	}
}