.pagination {
  padding-top: 20px;
}

.pagination ul {
  display: flex;
  flex-flow: row nowrap;
}

.pagination__item {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

 

  

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    background: #D8DCF5;;

    transition: 0.2s linear;
  }

  &:hover::after {
    transform: translate(-50%, -50%) scale(1);
    pointer-events: none;
  }
}

.pagination__item a {
  display: block;
  position: relative;
  z-index: 2;

  padding-left: 14px;
  padding-right: 14px;

  // flex: 1 1 auto;

  text-align: center;
  color: #000000;
}

.pagination__item-current {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #D8DCF5;;
  }

  .number {
    display: block;
    position: relative;
    z-index: 2;

    padding-left: 14px;
    padding-right: 14px;

    text-align: center;
    color: #000000;
  }
}