h1.price-page__title {
 color: #000000;
 margin-top: 113px;
 max-width: 471px;
 width: 100%;
 font-size: 48px;
}

h2.service-title {
 margin-top: 70px;
}

h3.service-global.first {
 position: relative;
}

.price-page__content {
  display: none;

  max-width: 690px;
  padding: 21px 27px 17px 27px;
  border: 1px solid #B8C5FF;
  box-sizing: border-box;
  margin-top: 36px;
}

.service-block {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px;
}

.service-text {
  position: relative;
  padding-right: 10px;

  z-index: 3;
  background: #ffffff;
}

.service-price {
  position: relative;
  z-index: 3;
  padding-left: 10px;

  background: #ffffff;
  font-weight: bold;
}

.service-name {
  font-weight: bold;
}

.service-description {
  font-size: 14px;
}

h3.service-global:after {
 content: '';
 display: block;
 position: absolute;
 left: 634px;
 top: 15px;
 height: 0px;
 width: 32px;
 border: 1px solid #B8C5FF;
}

.service-global__line {
 max-width: 670px;
 width: 100%;
 display: flex;
 justify-content: space-between;
 font-family: Montserrat;
 font-style: normal;
 font-weight: 800;
 line-height: 28px;
 font-size: 20px;
 margin-top: 48px;

 cursor: pointer;
}

.service-global__wrapper {
 margin-top: 27px;
}

.service-global__cross {
 width: 30px;
 height: 30px;
 position: relative;
 cursor: pointer;
}

.service-global__cross:before {
 content: '';
 display: block;
 position: absolute;
 left: 0px;
 top: 50%;
 height: 0px;
 width: 28px;
 border: 1px solid #B8C5FF;
}

.service-global__cross:after {
 content: '';
 display: block;
 position: absolute;
 left: 0px;
 top: 50%;
 transform: rotate(90deg);
 height: 0px;
 width: 28px;
 border: 1px solid #B8C5FF;
}

.service-global__line.active .service-global__cross::after {
  display: none;
}

@media (max-width: 576px) {
  .price-page__content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .service-block {
    margin-left: 0;
    margin-right: 0;
    flex-flow: column wrap;
  }

  .service-price {
    padding-left: 0;
  }
}