.contacts-page__form {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  margin-top: 103px;
}

.contacts-email__absolute {
  opacity: 0.4;
  font-size: 10px;
}
.contacts-page__form input,
.contacts-page__form textarea {
  background: #EFF2FF;
  border: none;
}
.contacts-page__form input {
  width: 352px;
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.contacts-page__form textarea {
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.contacts-form_right {
  margin-left: 31px;
}


.contacts-form_checkbox__wrapper {
  margin-top: 30px;
}

.contacts-form_checkbox__wrapper input {
  width: 30px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
  margin-top: 41px;
}
// .contacts-page__form-btn-wrapper {
//   position: relative;
// }


.contacts-form_checkbox__wrapper label {
  position: relative;
  display: block;
  padding: 0 0 0 40px;
  max-width: 349px;
  width: 100%;
  cursor: pointer;
  font-size: 10px;
  line-height: 15px;
  color: rgba(69, 68, 94, 0.5);
}

.contacts-form_checkbox__wrapper label:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 26px;
  height: 26px;
  background: #EFF2FF;
  -webkit-transition: .6s;
  transition: .6s;
}

.contacts-form_checkbox__wrapper label:after {
 content: '';
 position: absolute;
 top: 4px;
 left: 3px;
 width: 20px;
 height: 20px;
 opacity: 0;
 transition: opacity .3s linear;
 background: url(tick.svg) no-repeat center/contain;
}

.contacts-page__form-btn-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 36px;
}

button.btn.btn__dispatch.contacts-page__form-btn {
  margin-top: 24px;
  width: 278px;
}

@media (max-width: 1284px) {}

@media (max-width: 1024px) {}

@media (max-width: 991px) {
  .contacts-form_right textarea {
    max-width: 450px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .contacts-page__form {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .contacts-form_right {
    margin-left: 0;
  }
  .contacts-form_right textarea {
    max-width: 355px;
  }
  .contacts-form_checkbox__wrapper {
    text-align: -webkit-center;
  }
  .btn.btn__dispatch.contacts-page__form-btn {
    margin: auto;
  }
}

@media (max-width: 576px) {
  
}

@media (max-width: 424px) {
  .contacts-page__form input {
    max-width: 340px;
    width: 100%;
  }
  .contacts-form_checkbox__wrapper input {
    max-width: 140px;
  }
  .contacts-page__form textarea {
    max-width: 340px;
    width: 100%;
  }
}


