.contacts-page__faces-title {
  width: 100%;
  margin-bottom: 30px;
}

.contacts-page__faces-item-dd {
  margin-bottom: 10px;
}

.contacts-page__faces-item-dd.active .contacts-page__faces-item-dd-title img {
  transform: rotate(180deg) translateY(50%);
}

.contacts-page__faces-item-dd-wrapper {
  height: 0;
  overflow: hidden;

  transition: height 0.3s ease-in;
}

.contacts-page__faces-item-dd-title {
  cursor: pointer;
}


.contacts-page__faces-item-wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 890px;
  width: 100%;

  margin: 0 auto;
  padding-top: 20px
}

.contacts-page__faces-item {
  max-width: 220px;
  width: 100%;
  padding-right: 20px;
  margin-bottom: 40px;

  font-size: 13px;
}

.contacts-page__faces-item:nth-child(3n) {
  padding-right: 0;
}

.contacts-page__faces-img-wrapper {
  position: relative;
  width: 162px;
  height: 162px;

  margin-bottom: 13px;
}

.contacts-page__faces-img-placeholder {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background: url('./user.svg') no-repeat center, #dadada;
}

.contacts-page__faces-img-wrapper img {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  border: 4px solid #a3a3a3;
}

.contacts-page__faces-name {
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: bold;
}

.contacts-page__faces-position {
  font-weight: bold;
}

.contacts-page__faces-position-description {
  padding: 7px 0;

  color: #8b8b8b;
}

.contacts-page__faces-skype a {
  color: #000000;
  text-decoration: underline;
  padding-left: 5px;
}

.contacts-page__faces-email {
  color: #a3a3a3;
}