* {
  outline: none;
  box-sizing: border-box
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  font-family: 'Roboto', 'OpenSans', 'Trebuchet MS', 'Verdana';
  font-size: 16px;
  color: #333333;

  line-height: 1.5em;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 68px;
  padding-right: 68px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
  line-height: 1.2em;
}

h2 {
  font-size: 48px;
  line-height: 62px;
  font-family: $font-montserrat;
  margin: 0;
}

.page__content {
  width: 100%;
  padding-bottom: 100px;
}

.page__content-no-sidebar {
  width: 100%;
}


.btn {
  display: inline-block;
  border-radius: 33px;
  background-color: $primary-color;

  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  color: #ffffff;
  border: none;

  cursor: pointer;

  transition: background-color 0.3s linear;
}

.btn:hover {
  background-color: $link-color;
}

.btn__dispatch {
  cursor: pointer;
  margin-top: 50px;
  padding: 13px 54px;

  color: #ffffff;
}

.btn a {
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 3px;

  &:hover {
    color: #0063b0
  }
}

.socials {
  display: flex;
  flex-flow: row nowrap
}

.socials-item a {
  display: block;

  width: 31px;
  height: 26px;
}

.socials-item.fb a {
  background: image-url('soc-fb.svg') no-repeat center/contain;
}

.socials-item.gp a {
  background: image-url('soc-gplus.svg') no-repeat center/contain;
}

.socials-item.youtube a {
  background: image-url('soc-youtube.svg') no-repeat center/contain;
}

.socials-item.vk a {
  background: image-url('soc-vk.svg') no-repeat center/contain;
}

.more {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #bebebe;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 0;

    border: 1px dashed #bebebe;
  }
}

.list {
  padding-left: 20px;
}

.list li {
  position: relative;
  padding-left: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  &::after {
    content: '';
    position: absolute;
    top: 17px;
    left: 0;
    display: block;
    width: 3px;
    height: 3px;
    background: #000000;
    border-radius: 50%;
  }
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 52/1440 * 100%;
    padding-right: 52/1440 * 100%;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 22px;
    text-align: center;
  }
}