.item-page__header-other-services {
 background: linear-gradient(219.65deg, rgba(192, 47, 186, 0.43) 14.29%, #C02FBA 74.04%);
}
 
 .container-relative {
  position: relative;
}

.item-page__header-logo_other-services {
 position: absolute;
 left: 54px;
 top: 105px;
}
.item-page__header-nav_other-services .item-page__links a {
  font-size: 13px;
}

@media (max-width: 768px) {
  .item-page__header-logo_other-services {
    display: none;
  }
}
